<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sign UP</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

    <link rel="stylesheet" href="/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="/css/animate.css">
    
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">

    <link rel="stylesheet" href="/css/aos.css">

    <link rel="stylesheet" href="/css/ionicons.min.css">

    <link rel="stylesheet" href="/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/css/jquery.timepicker.css">

    
    <link rel="stylesheet" href="/css/flaticon.css">
    <link rel="stylesheet" href="/css/icomoon.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/styles/bootstrap-4.1.2/bootstrap.min.css">
<link href="/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="/plugins/OwlCarousel2-2.3.4/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="/plugins/OwlCarousel2-2.3.4/owl.theme.default.css">
<link rel="stylesheet" type="text/css" href="/plugins/OwlCarousel2-2.3.4/animate.css">
<link href="/plugins/jquery-datepicker/jquery-ui.css" rel="stylesheet" type="text/css">
<link href="/plugins/colorbox/colorbox.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="/styles/blog.css">
<link rel="stylesheet" type="text/css" href="/styles/main_styles.css">
<link rel="stylesheet" type="text/css" href="/styles/responsive.css">
<link rel="icon" type="image/png" href="/images/icons/favicon.ico"/>
<link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<link rel="stylesheet" type="text/css" href="/vendor/animate/animate.css">
<link rel="stylesheet" type="text/css" href="/vendor/css-hamburgers/hamburgers.min.css">
<link rel="stylesheet" type="text/css" href="/vendor/animsition/css/animsition.min.css">
<link rel="stylesheet" type="text/css" href="/vendor/select2/select2.min.css">
<link rel="stylesheet" type="text/css" href="/vendor/daterangepicker/daterangepicker.css">
<link rel="stylesheet" type="text/css" href="/css/util.css">
<link rel="stylesheet" type="text/css" href="/css/main.css">

  </head>
  <body>
    <div class="top">
    	<div class="container">
    		<div class="row d-flex align-items-center">
    			<div class="col">
    				<p class="social d-flex">
    					<a href="#"><span class="icon-facebook"></span></a>
    					<a href="#"><span class="icon-twitter"></span></a>
    					<a href="#"><span class="icon-google"></span></a>
							<a href="#"><span class="icon-pinterest"></span></a>
    				</p>
    			</div>
    			<div class="col d-flex justify-content-end">
    				<p class="num"><span class="icon-phone"></span> +923104648945</p>
    			</div>
    		</div>
    	</div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
	      <a class="navbar-brand" href="index.html">Online Real<span>Estate</span></a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>

	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav ml-auto">
            <li class="nav-item active"><a href="/" class="nav-link">Home</a></li>
            <li class="nav-item active"><a href="/api/sale" class="nav-link">Sale</a></li>
            <li class="nav-item active"><a href="/api/rent" class="nav-link">Rent</a></li>
            <li class="nav-item"><a href="/api/agents" class="nav-link">Agents</a></li>
            <li class="nav-item"><a href="/aboutus" class="nav-link">About</a></li>
            <li class="nav-item"><a href="/api/blog" class="nav-link">Blog</a></li>
            <li class="nav-item"><a href="/api/contact" class="nav-link">Contact</a></li>
            <li class="nav-item cta"><a href="/api/login" class="nav-link ml-lg-2"><span class="icon-user"></span> Sign-In</a></li>
            <li class="nav-item cta cta-colored"><a href="/api/signup" class="nav-link"><span class="icon-pencil"></span> Sign-Up</a></li>

	        </ul> 
	      </div>
	    </div>
	  </nav>
    <!-- END nav -->
    <br/><br><br>
    <div class="row">
        <div class="col">
            <div class="footer_logo_container text-center">
                <div class="footer_logo">
                    <a></a>
                    <div>SignUp </div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="limiter">
            <form class="login100-form validate-form" method="POST" action="/api/admin/signup">
      <% include ./partials/messages %>
        <div class="wrap-input100 validate-input m-b-26" data-validate="Hostel Name is required">
            <!-- <span class="label-input100">Hostel</span> -->
            <input class="input100" type="name" name="name" placeholder="Enter Your Name" value="<%= typeof name != 'undefined' ? name : '' %>">
            <span class="focus-input100"></span>
        </div>
        <div class="wrap-input100 validate-input m-b-26" data-validate="Email is required">
            <!-- <span class="label-input100">Email</span> -->
            <input class="input100" type="email" name="email" placeholder="Enter Email" value="<%= typeof email != 'undefined' ? email : '' %>">
            <span class="focus-input100"></span>
        </div>
    
        <div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
            <!-- <span class="label-input100">Password</span> -->
            <input class="input100" type="password" name="password" placeholder="Enter password" value="<%= typeof password != 'undefined' ? password : '' %>">
            <span class="focus-input100"></span>
        </div>
        <div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
                <!-- <span class="label-input100">Password</span> -->
                <input class="input100" type="password" name="password2" placeholder="Confirm Password" value="<%= typeof password2 != 'undefined' ? password2 : '' %>">
                <span class="focus-input100"></span>
            </div>
        <div class="wrap-input100 validate-input m-b-26" data-validate="Phone is required">
            <!-- <span class="label-input100">Phone</span> -->
            <input class="input100" type="tel" name="tel" placeholder="03XX-XXXXXXX" value="<%= typeof tel != 'undefined' ? tel : '' %>">
            <span class="focus-input100"></span>
        </div>
        <div class="wrap-input100 validate-input m-b-26" data-validate="Address is required">
            <!-- <span class="label-input100">Address</span> -->
            <input class="input100" type="address" name="address" placeholder="Enter Address" value="<%= typeof address != 'undefined' ? address : '' %>">
            <span class="focus-input100"></span>
        </div>
    
        <div class="wrap-input100 validate-input m-b-26" data-validate="Phone is required">
        
        <select class="form-control" name="userType" >
          <option value="user">Owner</option>
          <option value="admin">Admin</option>
          <option value="agent">Agent</option>
          
        </select>
        <span class="focus-input100"></span>
      </div>



    
        <div class="flex-sb-m w-full p-b-30">
            <div class="contact100-form-checkbox">
                <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                <label class="label-checkbox100" for="ckb1">
                    Remember me
                </label>
            </div>
    
            <div>
                <a href="#" class="txt1">
                    Forgot Password?
                </a>
            </div>
        </div>
    
        <div class="container-login100-form-btn">
            <button class="book_button" type="submit" >
                SignUp
            </button>
        </div>
    </form>
    </div>
    
    
    



		
    <footer class="ftco-footer ftco-bg-dark ftco-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Royalestate</h2>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
              <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4 ml-md-5">
              <h2 class="ftco-heading-2">Buy</h2>
              <ul class="list-unstyled">
                <li><a href="#" class="py-2 d-block">Home For Sale</a></li>
                <li><a href="#" class="py-2 d-block">Open Houses</a></li>
                <li><a href="#" class="py-2 d-block">New Listing</a></li>
                <li><a href="#" class="py-2 d-block">Recently Reduce</a></li>
                <li><a href="#" class="py-2 d-block">Off-Market Homes</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
             <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Sell</h2>
              <ul class="list-unstyled">
                <li><a href="#" class="py-2 d-block">Sell Your Home</a></li>
                <li><a href="#" class="py-2 d-block">Get A Home Valuation</a></li>
                <li><a href="#" class="py-2 d-block">Local Home Prices</a></li>
                <li><a href="#" class="py-2 d-block">Guides &amp; Rules</a></li>
                <li><a href="#" class="py-2 d-block">Others</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
            	<h2 class="ftco-heading-2">Have a Questions?</h2>
            	<div class="block-23 mb-3">
	              <ul>
	                <li><span class="icon icon-map-marker"></span><span class="text">203 Fake St. Mountain View, San Francisco, California, USA</span></li>
	                <li><a href="#"><span class="icon icon-phone"></span><span class="text">+2 392 3929 210</span></a></li>
	                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@yourdomain.com</span></a></li>
	              </ul>
	            </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">

            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart color-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
          </div>
        </div>
      </div>
    </footer>
    
  

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>
  <script
  rel="javascript"
  type="text/javascript"
  src="https://code.jquery.com/jquery-3.2.1.min.js"
></script>

  <script src="/js/jquery.min.js"></script>
  <script src="/js/jquery-migrate-3.0.1.min.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/jquery.easing.1.3.js"></script>
  <script src="/js/jquery.waypoints.min.js"></script>
  <script src="/js/jquery.stellar.min.js"></script>
  <script src="/js/owl.carousel.min.js"></script>
  <script src="/js/jquery.magnific-popup.min.js"></script>
  <script src="/js/aos.js"></script>
  <script src="/js/jquery.animateNumber.min.js"></script>
  <script src="/js/bootstrap-datepicker.js"></script>
  <script src="/js/jquery.timepicker.min.js"></script>
  <script src="/js/scrollax.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="/js/google-map.js"></script>
  <script src="/js/main.js"></script>
  <script src="/js/jquery-3.3.1.min.js"></script>
  <script src="/styles/bootstrap-4.1.2/popper.js"></script>
  <script src="/styles/bootstrap-4.1.2/bootstrap.min.js"></script>
  <script src="/plugins/greensock/TweenMax.min.js"></script>
  <script src="/plugins/greensock/TimelineMax.min.js"></script>
  <script src="/plugins/scrollmagic/ScrollMagic.min.js"></script>
  <script src="/plugins/greensock/animation.gsap.min.js"></script>
  <script src="/plugins/greensock/ScrollToPlugin.min.js"></script>
  <script src="/plugins/OwlCarousel2-2.3.4/owl.carousel.js"></script>
  <script src="/plugins/easing/easing.js"></script>
  <script src="/plugins/progressbar/progressbar.min.js"></script>
  <script src="/plugins/parallax-js-master/parallax.min.js"></script>
  <script src="/plugins/jquery-datepicker/jquery-ui.js"></script>
  <script src="/plugins/colorbox/jquery.colorbox-min.js"></script>
  <script src="/js/custom.js"></script>
  <!--===============================================================================================-->
  <script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
  <!--===============================================================================================-->
      <script src="/vendor/animsition/js/animsition.min.js"></script>
  <!--===============================================================================================-->
      <script src="/vendor/bootstrap/js/popper.js"></script>
      <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
  <!--===============================================================================================-->
      <script src="/vendor/select2/select2.min.js"></script>
  <!--===============================================================================================-->
      <script src="/vendor/daterangepicker/moment.min.js"></script>
      <script src="/vendor/daterangepicker/daterangepicker.js"></script>
  <!--===============================================================================================-->
      <script src="/vendor/countdowntime/countdowntime.js"></script>
  <!--===============================================================================================-->
      <script src="/js/main.js"></script>
  
  </body>
</html>